.tier {
  display: flex;
  position: relative;
  transition: 0.3s;
  background: var(--tier-color);
  padding: 1.5rem 0;
}
.tier:nth-child(even) {
  background: var(--tier-color-even);
}
.tier:hover {
  background: var(--tier-color-hover);
}
.tier:hover .ability {
  background: var(--ability-color-hover);
}
.tier:hover .active-item {
  background: var(--ability-color-active-hover);
}
.tier-cost {
  display: flex;
  flex: 0 0 4rem;
  justify-content: center;
  align-items: center;
  max-width: 4rem;
}
.tier-cost span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transform: rotate(-90deg);
  color: #70b29b;
  font-weight: bold;
  font-size: 1.2rem;
}
.tier:hover .tier-cost span {
  filter: brightness(1.4);
}
.tier-cost span img {
  height: 1rem;
}
.tier-bonus {
  display: none;
  position: absolute;
  border-radius: 0.3rem;
  background: var(--tier-bonus-color);
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-align: center;
}
.tier-bonus strong {
  color: white;
  font-size: 1.2rem;
}
.tier-bonus img {
  width: 1.2rem;
  height: 1.2rem;
}
.tier-bonus span {
  color: var(--tab-color);
  white-space: nowrap;
}
.ability-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.ability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background: var(--ability-color);
  width: 6rem;
  height: 7rem;
  overflow: hidden;
}
.ability:hover {
  transform: scale(1.05);
  box-shadow: none;
}
.ability-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.ability-icon img {
  filter: var(--ability-icon-filter);
  width: 2.5rem;
  height: 2.5rem;
}
.ability-name {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #efe2cb;
  width: 100%;
  height: 50%;
  color: #2b1810;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}
.active-item {
  position: relative;
  background: var(--ability-color-active);
}
.active-item::before {
  position: absolute;
  border-radius: 0.3rem;
  background: black;
  padding: 0.1rem 0.3rem;
  content: var(--active-badge);
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}
.ability-info {
  display: none;
  position: relative;
  flex-direction: column;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
  border-radius: 0.5rem;
  background-color: #80550f;
  width: 20rem;
  overflow: hidden;
  color: #c5b7a8;
}
.info-header {
  display: flex;
  flex-direction: column;
  background: var(--tab-color);
  padding: 1rem;
  color: white;
  font-weight: bold;
}
.info-name {
  margin: 0;
  font-size: 1.3rem;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.info-cost {
  display: flex;
  gap: 0.3rem;
  filter: brightness(1.4);
  color: #70b29b;
  font-size: 1.1rem;
}
.info-cost img {
  height: 1.5rem;
}
.info-language-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.info-language {
  display: flex;
  align-items: center;
  background: var(--tier-color);
}
.info-localized {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: var(--tier-bonus-color);
  min-height: 1.5rem;
  font-weight: bold;
}
.info-localized-name {
  flex: 2;
  padding: 0 1rem;
}
.info-close {
  display: none;
}

/* Mobile */

@media (max-width: 1440px) {
  .tier {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .tier-cost {
    display: flex;
    flex: 0 0 2rem;
    max-width: 100%;
  }
  .tier-cost span {
    transform: none;
  }
  .tier-bonus {
    display: none !important;
  }
  .tier:hover .tier-cost span {
    filter: brightness(1.4);
  }
  .tier-cost span img {
    height: 1rem;
  }
  .ability-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  .ability-info {
    width: 90%;
    max-height: 90%;
  }
  .info-language-container {
    overflow-y: scroll;
  }
  .info-close {
    display: block;
    align-content: center;
    cursor: pointer;
    background: var(--tier-bonus-color);
    width: 100%;
    height: 3rem;
    text-align: center;
  }
}
