.ability-info {
  display: none;
  position: relative;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: #80550f;
  width: 20em;
  overflow: hidden;
  color: #c5b7a8;
  z-index: 100;
}
.info-header {
  display: flex;
  flex-direction: column;
  background: var(--tab-color);
  padding: 1em;
  color: white;
  font-weight: bold;
}
.info-name {
  margin: 0;
  font-size: 1.3em;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.1);
}
.info-cost {
  display: flex;
  gap: 0.3rem;
  color: #70b29b;
  font-size: 1.1em;
}
.info-cost img {
  height: 1.5rem;
}
.info-language-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5rem;
}
.info-language {
  display: flex;
  align-items: center;
  background: var(--tier-color);
}

.info-localized {
  display: flex;
  justify-content: center;
  background-color: var(--tier-bonus-color);
  font-weight: bold;
  flex: 1;
  min-height: 1.5rem;
  border-radius: 0.3rem;
}

.info-localized-name {
  flex: 2;
  padding: 0 1rem;
}
.info-close {
  display: none;
}

* {
  box-sizing: border-box;
  font-size: unset;
  font-family: "Retail Demo", sans-serif;
  color: white;
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  gap: 4rem;
  background: #050e00;
  padding: 4rem;
  height: 100vh;
}
.sidebar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-y: hidden;
}
.sidebar-logo {
  width: 100%;
}
.sidebar-logo img {
  width: 80%;
}
.sidebar-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #28281f;
  text-align: center;
  padding: 4rem 2rem;
  color: #ffefd7;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.sidebar-info span {
  font-weight: bold;
  font-size: 1.5rem;
  color: inherit;
}
.shop-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  overflow: hidden;
  flex: 3;
}
.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.shop-tab {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.shop-tab button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 0 0 var(--tab-color) inset;
  border: none;
  border-radius: 0.3rem 0.3rem 0 0;
  background: #cbbea6;
  padding: 0 1.3rem;
  height: 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  word-break: keep-all;
}
.shop-tab button.active {
  background: var(--tab-color);
}
[data-tab="weapon"] {
  --tab-color: #ec981a;
  --tier-color: linear-gradient(to right, #594022, #523606);
  --tier-color-even: linear-gradient(to right, #49351b, #422a04);
  --tier-color-hover: linear-gradient(to right, #755221, #754c0a);
  --tier-bonus-color: #2a2206;
  --ability-color: #d08d3e;
  --ability-color-hover: #fcac4d;
  --ability-color-active: #f2c786;
  --ability-color-active-hover: #fff0a3;
  --ability-icon-filter: brightness(0) saturate(100%) invert(13%) sepia(61%) saturate(524%) hue-rotate(1deg) brightness(96%) contrast(102%);
}
[data-tab="vitality"] {
  --tab-color: #7cbb1e;
  --tier-color: linear-gradient(to right, #4c7215, #2d4706);
  --tier-color-even: linear-gradient(to right, #415f10, #233a04);
  --tier-color-hover: linear-gradient(to right, #557e16, #3e6009);
  --tier-bonus-color: #1b2c00;
  --ability-color: #74b01c;
  --ability-color-hover: #86c920;
  --ability-color-active: #d0f995;
  --ability-color-active-hover: #e3ffa3;
  --ability-icon-filter: brightness(0) saturate(100%) invert(16%) sepia(24%) saturate(2895%) hue-rotate(50deg) brightness(91%) contrast(102%);
}
[data-tab="spirit"] {
  --tab-color: #cf91ff;
  --tier-color: linear-gradient(to right, #372347, #3f2853);
  --tier-color-even: linear-gradient(to right, #331f42, #342046);
  --tier-color-hover: linear-gradient(to right, #5e3f76, #62427c);
  --tier-bonus-color: #2d1d3c;
  --ability-color: #c288f0;
  --ability-color-hover: #de9cff;
  --ability-color-active: #dabef0;
  --ability-color-active-hover: #f9d9ff;
  --ability-icon-filter: brightness(0) saturate(100%) invert(10%) sepia(14%) saturate(5771%) hue-rotate(247deg) brightness(95%) contrast(89%);
}
.shop-icon,
.shop-icon img {
  width: 1.9rem;
  height: 1.9rem;
}
.shop-name {
  color: #332409;
  text-align: center;
  width: min-content;
}
.shop-action {
  display: flex;
  gap: 0.5rem;
  width: 20rem;
}
#search-input {
  border: 0.2rem solid #5b5b5b;
  border-radius: 0.2rem;
  background: #343434;
  padding: 1rem 0.5rem;
  color: white;
  flex: 1;
  min-width: 0;
}
#search-input::placeholder {
  font-style: italic;
}
#language-select {
  align-self: end;
  appearance: none;
  cursor: pointer;
  border: 0.2rem solid #5b5b5b;
  border-radius: 0.2rem;
  background: #5b5b5b;
  padding: 1rem 0.5rem;
  text-align: center;
  color: white;
  flex: 1;
}
#search-input:focus,
#language-select:focus {
  outline: none;
}
#search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  background: center/100% url("../images/control_icons/x_close_png.png");
  width: 1rem;
  height: 1rem;
}
.shop-divider {
  background: var(--tab-color);
  width: 100%;
  height: 0.2rem;
}
.shop-content {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  flex-direction: column;
}
.shop-content.active {
  display: flex;
}

/* Mobile */

@media (max-width: 1440px) {
  body {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .sidebar-container {
    flex: 0 0 auto;
  }
  .sidebar-info {
    display: none;
  }
  .sidebar-logo img {
    width: auto;
    height: 4rem;
    display: block;
    margin: 1em auto;
  }
  .shop-header {
    padding: 0 1rem;
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  .shop-tab {
    width: 100%;
  }
  .shop-tab button {
    flex: 1;
    padding: 1em 0;
    height: auto;
    max-height: 3.5rem;
  }
  .shop-icon,
  .shop-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .shop-name {
    font-size: 1rem;
  }
  .shop-action {
    width: 100%;
  }
  .ability-info {
    width: 90%;
    max-height: 90%;
    box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  }
  .info-language-container {
    overflow-y: scroll;
  }
  .info-close {
    display: block;
    text-align: center;
    width: 100%;
    background: var(--tier-bonus-color);
    height: 3rem;
    align-content: center;
  }
}
